.logo{
    height: 60px;
    padding: 0px 0px;
}

ul{
    float: right;
    font-size: 18px;
    margin-top: -50px;
    font-family: arial;
}

nav ul li{
    padding: 5px;
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: gray;
    font-size: 25px;
}

.big-container{
    border-radius: 15px;
}

.small-logo{
    height: 100px;
}

.vertical-menu{
    width: 200px;
    display: none;
}

.vertical-menu a{
    display: block;
    padding: 12px;
    text-align: center;
}

.vertical-menu a:hover{
    color: white;
    background-color: gray;
}

.center{
    display: block;
    margin: auto;
    text-align: center;
}


body{
    background-size: cover;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/288/107/735/rose-ashes-fire-black-dark-theme-wallpaper-preview.jpg")
}

@media screen  and (max-width: 370px) {
    .big-container{
        display: none;
    }

    .vertical-menu{
        display: contents;
    }

}